
nav a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}
nav{
  display: flex;
}

body{
  background-color: #b3b3b3;
  
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
}.cuerpo{
  border:  2px solid black;
  border-radius: 30px;
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
  width: 70%;
  background-color: #a3a3a3;
}
.tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4{
  
  border: 2px solid black;
  width: 80%;
  aspect-ratio: 3 / 2;
  
  margin: 1rem;
 
}
